#body{
    -fx-background-color: #23395d;
}


#txtUsername{
    -fx-text-fill: #fff;
    -fx-prompt-text-fill: #ccc;
}

#txtPassword{
    -fx-text-fill: #fff;
    -fx-prompt-text-fill: #ccc;
}

#btnLogin{
    -fx-background-color: #fff;
}
#btnRegister{
    -fx-text-fill: #fff;
    -fx-background-color : transparent;
}