#body{
    -fx-background-color: #23395d;
}

#txtEmail{
    -fx-text-fill: #fff;
    -fx-prompt-text-fill: #ccc;
}

#txtUsername{
    -fx-text-fill: #fff;
    -fx-prompt-text-fill: #ccc;
}

#txtPassword{
    -fx-text-fill: #fff;
    -fx-prompt-text-fill: #ccc;
}

#btnRegister{
    -fx-background-color: #fff;
}
#btnLogin{
    -fx-text-fill: #fff;
    -fx-background-color : transparent;
}