#users{
    -fx-background-color: #23395d;
}

#header{
    -fx-background-color: #23395d;
}

#innerPanel{
    -fx-border-color: black;
    -fx-border-radius: 30%;
}

#newChat{
    -fx-border-color: #fff;
    -fx-background-color: #23395d;
    -fx-border-width: 4px;
}


#chatOptions .list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}
#chatOptions .list-cell:filled{
    -fx-border-width:0 0 1 0 ;
}

#chatOptions .list-cell {
    -fx-background-color: transparent;
    -fx-pref-height: 30px;
    -fx-text-fill: black;
    -fx-font-family: "Airbnb Cereal App Book" ;
    -fx-font-size: 12px;
    -fx-border-width:0 0 0 0 ;
    -fx-border-color:#fff;
}



#chatOptions .list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

#optionsList .list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

#optionsList .list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}
#optionsList .list-cell:filled{
    -fx-border-width:0 0 1 0 ;
}

#optionsList .list-cell {
    -fx-background-color: transparent;
    -fx-pref-height: 30px;
    -fx-text-fill: black;
    -fx-font-family: "Airbnb Cereal App Book" ;
    -fx-font-size: 12px;
    -fx-border-width:0 0 0 0 ;
    -fx-border-color:#fff;
}

#optionsList .list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

#leftHeaderOpaque, #rightOpaque{
    -fx-background-color: #fff;
}

#contactsTable{

}

.table-view{
    -fx-background-color: transparent;
    -fx-text-fill: #fff;
}

.noheader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

#chatTable{

}

#usersList{
    -fx-background-color: transparent;
}

#addNewUserForChat{
    -fx-background-color: transparent;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0a65bf 100%);
    -fx-text-fill: white;
}
.list-cell:filled{
    -fx-border-width:0 0 1 0 ;
}
.list-cell { /* <=== changed to even */
    -fx-background-color: transparent;
    -fx-pref-height: 50px;
    -fx-text-fill: white;
    -fx-font-family: "Airbnb Cereal App Book" ;
    -fx-font-size: 18px;
    -fx-border-width:0 0 0 0 ;
    -fx-border-color:#fff;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}




.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 2.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(#23395d,90.0%);
    -fx-background-insets : 1.0, 0.0, 0.0;
    -fx-background-radius : 1.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#23395d,10.0%);
    -fx-background-insets : 1.0, 0.0, 0.0;
    -fx-background-radius : 1.0em;
}


 .messages{
     -fx-min-width:40;
     -fx-text-wrap:true;
     -fx-font-family: "Airbnb Cereal App Book" ;
     -fx-font-size: 15px;

     -fx-background-insets: 5px;
     -fx-padding: 10px 15px 10px 15px;
     -fx-background-radius: 7;
 }

 .sender{
     -fx-background-color:#23395d;
     -fx-text-fill: #fff;
 }

 .receiver{
    -fx-background-color:#777;
    -fx-text-fill: #fff;
 }


 #changePasswordModal{
     -fx-background-color: #23395d;
     -fx-border-color: #fff;
 }

 #currentPassword,#newPassword{
     -fx-text-fill: #fff;
     -fx-prompt-text-fill: #ccc;
 }

 #updatePassword{
     -fx-background-color: #fff;
 }

 #passwordResetSuccess{
     -fx-background-color: green;
 }

 #search{
    -fx-prompt-text-fill : #fff;
    -fx-background-color : #23395d;
    -fx-text-fill:#fff;
    -fx-border-color : #fff;
    -fx-border-width: 1.5px;
    -fx-border-radius: 30px;
 }